body {background-color: aliceblue}

.wrapper {
    max-width: 900px; background-color: white; margin: 0 auto;
    padding: 20px; text-align: center;
}

header {height: 15%; background-color: darkgray; border-radius: 10px; padding: 20px }

#left {float: left; padding-left: 30px}
#right {float: right; padding-right: 30px}
#timer {color: red; }
#top {display: inline-block; text-align: left}
#box {height: 50%; background-color: lightgray; border-radius: 10px; padding: 20px; margin-top: 2%}

.button {padding: 15px}

h1, h2, h3 {color: darkblue}

footer { background-color: darkgray; border-radius: 10px; padding: 10px; margin-top: 2% }

#input span {margin: 0 10px; }
